<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
	<connectionStrings>
		<!-- Cadena LOCAL. La del hosting la inyecta el perfil de publicacion
         (checkbox "usar en tiempo de ejecucion"), no hace falta tocarla aca. -->
		<add name="ClinicaMedica"
			 connectionString="Data Source=localhost\sqlexpress;Initial Catalog=ClinicaMedica;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
		<globalization culture="es-AR" uiCulture="es-AR" />

		<!-- ============================================================
         MACHINE KEY FIJA: evita "Validation of viewstate MAC failed"
         tras cada publish/reinicio en el hosting. Claves generadas
         una unica vez; NO regenerarlas ni cambiarlas entre publishes.
         ============================================================ -->
		<machineKey validationKey="54AF0E53F9BCB8518D7ADD9BA02F1737253B2F6A3F8975F55F82211CCF2BDC2DA132FF8CD7E9E2F74B0CC95D2CEC7AA0E226D11F2668B03D4BCA8CF515F4AE6B"
					decryptionKey="AD4A875D9F312139A6501B21AF0FE0877E9439239CEB7C61801B94A0DF8E8008"
					validation="HMACSHA256"
					decryption="AES" />

		<!-- TEMPORAL para depurar: cuando el sitio quede estable,
         volver a <customErrors mode="RemoteOnly"/> o borrar la linea. -->
		<customErrors mode="Off"/>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>