<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>

	<connectionStrings>
		<add name="ClinicaMedica"
			 connectionString="Data Source=db60459.public.databaseasp.net;
       Initial Catalog=db60459;
       User ID=db60459;
       Password=4w+QT#9c_pH5;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.8"/>
		<globalization culture="es-AR" uiCulture="es-AR" />

		<!-- MACHINE KEY FIJA: evita errores de ViewState -->
		<machineKey validationKey="54AF0E53F9BCB8518D7ADD9BA02F1737253B2F6A3F8975F55F82211CCF2BDC2DA132FF8CD7E9E2F74B0CC95D2CEC7AA0E226D11F2668B03D4BCA8CF515F4AE6B"
					decryptionKey="AD4A875D9F312139A6501B21AF0FE0877E9439239CEB7C61801B94A0DF8E8008"
					validation="HMACSHA256"
					decryption="AES" />

		<!-- TEMPORAL para depurar -->
		<customErrors mode="Off"/>
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Login.aspx" />
			</files>
		</defaultDocument>
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4"
					  compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>
</configuration>
